<a href="https://colab.research.google.com/github/kiamaikocoders/Alfa-scalper/blob/master/mergeData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Health Data*
## General Information
- *SEQN*: Unique participant identifier for the dataset.
- *SDDSRVYR*: Survey participant ID year.

## Demographics
- *RIDSTATR*: Interview/Examination status.
- *RIAGENDR*: Gender (Male/Female).
- *RIDAGEYR*: Age in years at the time of screening.
- *RIDAGEMN*: Age in months at the time of screening.
- *RIDRETH1*: Race/ethnicity category.
- *RIDRETH3*: Another race/ethnicity classification.

## Examination
- *RIDEXMON*: Month of examination.
- *RIDEXAGM*: Age in months at the time of examination.
- *DMQMILIZ*: Military service status (Yes/No).

## Citizenship and Country of Origin
- *DMDBORN4*: Country of birth.
- *DMDCITZN*: Citizenship status.
- *DMDYRSUS*: Number of years in the U.S.

## Education and Marital Status
- *DMDEDUC3*: Education level, detailed.
- *DMDEDUC2*: Education level, broad.
- *DMDMARTL*: Marital status.

## Pregnancy
- *RIDEXPRG*: Pregnancy status at the time of examination.

## Language and Proxy Use
- *SIALANG*: Language of the survey.
- *SIAPROXY*: Whether a proxy answered the survey.
- *SIAINTRP*: Whether an interpreter was used during the survey.

## Family Language and Proxy Use
- *FIALANG*: Family interview language.
- *FIAPROXY*: Whether a proxy was used for the family interview.
- *FIAINTRP*: Whether an interpreter was used for the family interview.

## Medical Language and Proxy Use
- *MIALANG*: Medical interview language.
- *MIAPROXY*: Whether a proxy was used for the medical interview.
- *MIAINTRP*: Whether an interpreter was used for the medical interview.

### Adult Language Use
- *AIALANGA*: Adult language use status.

### Household Composition
- *DMDHHSIZ*: Total number of people in the household.
- *DMDFMSIZ*: Family size.
- *DMDHHSZA, **DMDHHSZB, **DMDHHSZE*: Other household composition details.

## Household Demographics
- *DMDHRGND*: Gender of household head.
- *DMDHRAGZ*: Age of household head.
- *DMDHREDZ*: Education level of household head.
- *DMDHRMAZ*: Marital status of household head.
- *DMDHSEDZ*: Household head employment status.

## Weights and Sampling
- *WTINT2YR* : Interview sample weight.
- *WTMEC2YR*: MEC sample weight.
- *SDMVPSU*: Variance estimation PSU.
- *SDMVSTRA*: Variance estimation strata.

## Income
- *INDHHIN2*: Household income.
- *INDFMIN2*: Family income.
- *INDFMPIR*: Income to poverty ratio.

## Dietary Information
- *WTDRD1_x, **WTDR2D_x*: Dietary day one and two weights.
- *DR1ILINE, **DR2ILINE*: Line number in dietary recall.
- *DR1DRSTZ, **DR2DRSTZ*: Dietary recall status.
- *DR1EXMER, **DR2EXMER*: Whether breakfast was reported.
- *DRABF_x, **DRABF_y*: Alcohol consumption.
- *DRDINT_x, **DRDINT_y*: Dietary interview status.

## Dietary Recall
- *DR1DBIH, **DR2DBIH*: Breakfast interview hour.
- *DR1DAY, **DR2DAY*: Day of the week.
- *DR1LANG, **DR2LANG*: Language of dietary interview.
- *DR1CCMNM, **DR2CCMNM*: Food code modification.

## Nutrient Intake
- *DR1IKCAL, **DR2IKCAL*: Energy intake in kilocalories.
- *DR1IPROT, **DR2IPROT*: Protein intake in grams.
- *DR1ICARB, **DR2ICARB*: Carbohydrate intake in grams.
- *DR1ISUGR, **DR2ISUGR*: Sugar intake in grams.
- *DR1IFIBE, **DR2IFIBE*: Fiber intake in grams.
- *DR1ITFAT, **DR2ITFAT*: Total fat intake in grams.
- *DR1ISFAT, **DR2ISFAT*: Saturated fat intake in grams.
- *DR1IMFAT, **DR2IMFAT*: Monounsaturated fat intake in grams.
- *DR1IPFAT, **DR2IPFAT*: Polyunsaturated fat intake in grams.
- *DR1ICHOL, **DR2ICHOL*: Cholesterol intake in milligrams.
- *DR1IATOC, **DR2IATOC*: Vitamin E (alpha-tocopherol) intake.
- *DR1IRET, **DR2IRET*: Retinol intake in micrograms.
- *DR1IVARA, **DR2IVARA*: Beta-carotene intake in micrograms.
- *DR1IACAR, **DR2IACAR*: Total carotenoids intake.
- *DR1IBCAR, **DR2IBCAR*: Beta-carotene equivalents intake.
- *DR1ICRYP, **DR2ICRYP*: Cryptoxanthin intake in micrograms.
- *DR1ILYCO, **DR2ILYCO*: Lycopene intake in micrograms.
- *DR1ILZ, **DR2ILZ*: Lutein + Zeaxanthin intake in micrograms.
- *DR1IVB1, **DR2IVB1*: Thiamin intake in milligrams.
- *DR1IVB2, **DR2IVB2*: Riboflavin intake in milligrams.
- *DR1INIAC, **DR2INIAC*: Niacin intake in milligrams.
- *DR1IVB6, **DR2IVB6*: Vitamin B6 intake in milligrams.
- *DR1IFOLA, **DR2IFOLA*: Folate intake in micrograms.
- *DR1IFA, **DR2IFA*: Folic acid intake in micrograms.
- *DR1IFF, **DR2IFF*: Food folate intake in micrograms.
- *DR1IFDFE, **DR2IFDFE*: Total folate intake.
- *DR1ICHL, **DR2ICHL*: Choline intake in milligrams.
- *DR1IVB12, **DR2IVB12*: Vitamin B12 intake in micrograms.
- *DR1IB12A, **DR2IB12A*: Vitamin B12 analogs.
- *DR1IVC, **DR2IVC*: Vitamin C intake in milligrams.
- *DR1IVD, **DR2IVD*: Vitamin D intake in micrograms.
- *DR1IVK, **DR2IVK*: Vitamin K intake in micrograms.
- *DR1ICALC, **DR2ICALC*: Calcium intake in milligrams.
- *DR1IPHOS, **DR2IPHOS*: Phosphorus intake in milligrams.
- *DR1IMAGN, **DR2IMAGN*: Magnesium intake in milligrams.
- *DR1IIRON, **DR2IIRON*: Iron intake in milligrams.
- *DR1IZINC, **DR2IZINC*: Zinc intake in milligrams.
- *DR1ICOPP, **DR2ICOPP*: Copper intake in milligrams.
- *DR1ISODI, **DR2ISODI*: Sodium intake in milligrams.
- *DR1IPOTA, **DR2IPOTA*: Potassium intake in milligrams.
- *DR1ISELE, **DR2ISELE*: Selenium intake in micrograms.
- *DR1ICAFF, **DR2ICAFF*: Caffeine intake in milligrams.
- *DR1ITHEO, **DR2ITHEO*: Theobromine intake in milligrams.
- *DR1IALCO, **DR2IALCO*: Alcohol intake in grams.
- *DR1IMOIS, **DR2IMOIS*: Moisture intake in grams.

## Fatty Acids
- *DR1IS040, **DR2IS040*: Butyric acid intake in grams.
- *DR1IS060, **DR2IS060*: Caproic acid intake in grams.
- *DR1IS080, **DR2IS080*: Caprylic acid intake in grams.
- *DR1IS100, **DR2IS100*: Capric acid intake in grams.
- *DR1IS120, **DR2IS120*: Lauric acid intake in grams.
- *DR1IS140, **DR2IS140*: Myristic acid intake in grams.
- *DR1IS160, **DR2IS160*: Palmitic acid intake in grams.
- *DR1IS180, **DR2IS180*: Stearic acid intake in grams.
- *DR1IM161, **DR2IM161*: Palmitoleic acid intake in grams.
- *DR1IM181, **DR2IM181*: Oleic acid intake in grams.
- *DR1IM201, **DR2IM201*: Eicosenoic acid intake in grams.
- *DR1IM221, **DR2IM221*: Erucic acid intake in grams.
- *DR1IP182, **DR2IP182*: Linoleic acid intake in grams.
- *DR1IP183, **DR2IP183*: Linolenic acid intake in grams.
- *DR1IP184, **DR2IP184*: Gadoleic acid intake in grams.
- *DR1IP204, **DR2IP204*: Arachidonic acid intake in grams.
- *DR1IP205, **DR2IP205*: Eicosapentaenoic acid intake in grams.
- *DR1IP225, **DR2IP225*: Docosapentaenoic acid intake in grams.
- *DR1IP226, **DR2IP226*: Docosahexaenoic acid intake in grams.

## Biomarkers
- *LBXHSCRP*: High-sensitivity C-reactive protein levels, used as a marker of inflammation.
- *LBDHRPLC*: Lipoprotein levels, often used in cholesterol and cardiovascular studies.
- *LBXGH*: Glycohemoglobin levels, an indicator of average blood glucose levels over the past 2-3 months.

In [ ]:
import pandas as pd

# Load dataframes
demographic_df = pd.read_sas('demographic data.XPT', format='xport')
dietary1_df = pd.read_sas('Dietary data 1.XPT', format='xport')
dietary2_df = pd.read_sas('Dieatary data 2.XPT', format='xport')
GHB_Jdf = pd.read_sas('GHB_J.XPT', format='xport')
HSCRP_Jdf = pd.read_sas('HSCRP_J.XPT', format='xport')

In [ ]:
demographic_df

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDZ,DMDHRMAZ,DMDHSEDZ,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,93703.0,10.0,2.0,2.0,2.0,NaN,5.0,6.0,2.0,27.0,...,3.0,1.0,3.0,9246.491865,8539.731348,2.0,145.0,15.0,15.0,5.00
1,93704.0,10.0,2.0,1.0,2.0,NaN,3.0,3.0,1.0,33.0,...,3.0,1.0,2.0,37338.768343,42566.614750,1.0,143.0,15.0,15.0,5.00
2,93705.0,10.0,2.0,2.0,66.0,NaN,4.0,4.0,2.0,NaN,...,1.0,2.0,NaN,8614.571172,8338.419786,2.0,145.0,3.0,3.0,0.82
3,93706.0,10.0,2.0,1.0,18.0,NaN,5.0,6.0,2.0,222.0,...,3.0,1.0,2.0,8548.632619,8723.439814,2.0,134.0,NaN,NaN,NaN
4,93707.0,10.0,2.0,1.0,13.0,NaN,5.0,7.0,2.0,158.0,...,2.0,1.0,3.0,6769.344567,7064.609730,1.0,138.0,10.0,10.0,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9249,102952.0,10.0,2.0,2.0,70.0,NaN,5.0,6.0,2.0,NaN,...,2.0,1.0,1.0,16896.276203,18338.711104,2.0,138.0,4.0,4.0,0.95
9250,102953.0,10.0,2.0,1.0,42.0,NaN,1.0,1.0,2.0,NaN,...,2.0,2.0,NaN,61630.380013,63661.951573,2.0,137.0,12.0,12.0,NaN
9251,102954.0,10.0,2.0,2.0,41.0,NaN,4.0,4.0,1.0,NaN,...,2.0,2.0,NaN,17160.895269,17694.783346,1.0,144.0,10.0,10.0,1.18
9252,102955.0,10.0,2.0,2.0,14.0,NaN,4.0,4.0,2.0,175.0,...,2.0,1.0,2.0,14238.445922,14871.839636,1.0,136.0,9.0,9.0,2.24
9253,102956.0,10.0,2.0,1.0,38.0,NaN,3.0,3.0,2.0,NaN,...,2.0,2.0,NaN,38645.740291,39426.299948,1.0,142.0,7.0,7.0,1.56

In [ ]:
dietary1_df.head()

,SEQN,WTDRD1,WTDR2D,DR1ILINE,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,...,DR1IM181,DR1IM201,DR1IM221,DR1IP182,DR1IP183,DR1IP184,DR1IP204,DR1IP205,DR1IP225,DR1IP226
0,93704.0,81714.005497,82442.869214,1.0,1.0,49.0,2.0,2.0,7.0,2.0,...,4.549,4.000000e-02,5.397605e-79,3.669,4.670000e-01,5.397605e-79,2.200000e-02,5.397605e-79,1.000000e-03,6.000000e-03
1,93704.0,81714.005497,82442.869214,2.0,1.0,49.0,2.0,2.0,7.0,2.0,...,0.459,2.000000e-03,5.397605e-79,0.072,7.000000e-03,5.397605e-79,2.000000e-03,5.397605e-79,5.397605e-79,5.397605e-79
2,93704.0,81714.005497,82442.869214,3.0,1.0,49.0,2.0,2.0,7.0,2.0,...,4.656,1.060000e-01,9.000000e-03,5.485,2.260000e-01,5.397605e-79,4.000000e-02,5.397605e-79,3.000000e-03,2.000000e-03
3,93704.0,81714.005497,82442.869214,4.0,1.0,49.0,2.0,2.0,7.0,2.0,...,0.001,5.397605e-79,5.397605e-79,0.002,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
4,93704.0,81714.005497,82442.869214,5.0,1.0,49.0,2.0,2.0,7.0,2.0,...,2.043,4.100000e-02,5.397605e-79,1.418,2.630000e-01,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79

In [ ]:
dietary2_df.head()

,SEQN,WTDRD1,WTDR2D,DR2ILINE,DR2DRSTZ,DR2EXMER,DRABF,DRDINT,DR2DBIH,DR2DAY,...,DR2IM181,DR2IM201,DR2IM221,DR2IP182,DR2IP183,DR2IP184,DR2IP204,DR2IP205,DR2IP225,DR2IP226
0,93704.0,81714.005497,82442.869214,1.0,1.0,87.0,2.0,2.0,18.0,6.0,...,0.008,5.397605e-79,5.397605e-79,0.051,1.100000e-02,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
1,93704.0,81714.005497,82442.869214,2.0,1.0,87.0,2.0,2.0,18.0,6.0,...,0.296,7.000000e-03,1.000000e-03,0.274,1.000000e-02,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
2,93704.0,81714.005497,82442.869214,3.0,1.0,87.0,2.0,2.0,18.0,6.0,...,0.261,1.000000e-03,5.397605e-79,0.040,5.000000e-03,5.397605e-79,1.000000e-03,5.397605e-79,5.397605e-79,5.397605e-79
3,93704.0,81714.005497,82442.869214,4.0,1.0,87.0,2.0,2.0,18.0,6.0,...,0.029,5.397605e-79,5.397605e-79,0.039,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
4,93704.0,81714.005497,82442.869214,5.0,1.0,87.0,2.0,2.0,18.0,6.0,...,6.059,1.260000e-01,9.000000e-03,9.078,1.391000e+00,3.000000e-03,3.800000e-02,5.397605e-79,1.000000e-03,1.000000e-02

In [ ]:
GHB_Jdf.head()

      SEQN  LBXGH
0  93705.0    6.2
1  93706.0    5.2
2  93707.0    5.6
3  93708.0    6.2
4  93709.0    6.3

In [ ]:
HSCRP_Jdf.head()

      SEQN  LBXHSCRP      LBDHRPLC
0  93703.0       NaN           NaN
1  93704.0      0.29  5.397605e-79
2  93705.0      2.72  5.397605e-79
3  93706.0      0.74  5.397605e-79
4  93707.0      0.32  5.397605e-79

In [ ]:
dietary_df = dietary1_df.merge(dietary2_df, on='SEQN', how='outer')
dietary_df = dietary_df.drop_duplicates(subset='SEQN')
dietary_df

,SEQN,WTDRD1_x,WTDR2D_x,DR1ILINE,DR1DRSTZ,DR1EXMER,DRABF_x,DRDINT_x,DR1DBIH,DR1DAY,...,DR2IM181,DR2IM201,DR2IM221,DR2IP182,DR2IP183,DR2IP184,DR2IP204,DR2IP205,DR2IP225,DR2IP226
0,93704.0,81714.005497,8.244287e+04,1.0,1.0,49.0,2.0,2.0,7.0,2.0,...,8.000000e-03,5.397605e-79,5.397605e-79,5.100000e-02,1.100000e-02,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
169,93705.0,7185.560737,5.640391e+03,1.0,1.0,73.0,2.0,2.0,5.0,1.0,...,5.397605e-79,5.397605e-79,5.397605e-79,4.000000e-03,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
407,93706.0,6463.882999,5.397605e-79,1.0,1.0,86.0,2.0,1.0,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415,93707.0,15333.776805,2.270707e+04,1.0,1.0,81.0,2.0,2.0,14.0,2.0,...,6.445000e+00,5.700000e-02,5.397605e-79,4.187000e+00,4.140000e-01,5.397605e-79,1.930000e-01,5.397605e-79,8.000000e-03,5.900000e-02
639,93708.0,10825.545045,2.248185e+04,1.0,1.0,73.0,2.0,2.0,41.0,7.0,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1524688,102952.0,13812.955180,2.868593e+04,1.0,1.0,73.0,2.0,2.0,22.0,7.0,...,1.025000e+00,2.200000e-02,2.000000e-03,1.111000e+00,3.400000e-02,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
1525030,102953.0,50632.360804,5.397605e-79,1.0,1.0,73.0,2.0,1.0,2.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1525045,102954.0,11081.266527,8.924895e+03,1.0,1.0,76.0,2.0,2.0,2.0,6.0,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
1525285,102955.0,27529.854014,3.629955e+04,1.0,1.0,73.0,2.0,2.0,15.0,2.0,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
1525406,102956.0,69447.414236,9.275688e+04,1.0,1.0,81.0,2.0,2.0,10.0,5.0,...,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e-02,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79

In [ ]:
HSCRP_Jdf_GHB_Jdf = HSCRP_Jdf.merge(GHB_Jdf, on='SEQN', how='outer')
HSCRP_Jdf_GHB_Jdf = HSCRP_Jdf_GHB_Jdf.drop_duplicates(subset='SEQN')
HSCRP_Jdf_GHB_Jdf

          SEQN  LBXHSCRP      LBDHRPLC  LBXGH
0      93703.0       NaN           NaN    NaN
1      93704.0      0.29  5.397605e-79    NaN
2      93705.0      2.72  5.397605e-79    6.2
3      93706.0      0.74  5.397605e-79    5.2
4      93707.0      0.32  5.397605e-79    5.6
...        ...       ...           ...    ...
8361  102952.0      0.45  5.397605e-79    7.4
8362  102953.0      1.84  5.397605e-79    5.9
8363  102954.0      0.81  5.397605e-79    5.2
8364  102955.0      5.11  5.397605e-79    5.5
8365  102956.0      3.70  5.397605e-79    5.4

[8366 rows x 4 columns]

In [ ]:
merged_df = dietary_df.merge(HSCRP_Jdf_GHB_Jdf, on='SEQN', how='outer')
merged_df = merged_df.drop_duplicates(subset='SEQN')
merged_df

,SEQN,WTDRD1_x,WTDR2D_x,DR1ILINE,DR1DRSTZ,DR1EXMER,DRABF_x,DRDINT_x,DR1DBIH,DR1DAY,...,DR2IP182,DR2IP183,DR2IP184,DR2IP204,DR2IP205,DR2IP225,DR2IP226,LBXHSCRP,LBDHRPLC,LBXGH
0,93703.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,93704.0,81714.005497,8.244287e+04,1.0,1.0,49.0,2.0,2.0,7.0,2.0,...,5.100000e-02,1.100000e-02,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,0.29,5.397605e-79,NaN
2,93705.0,7185.560737,5.640391e+03,1.0,1.0,73.0,2.0,2.0,5.0,1.0,...,4.000000e-03,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,2.72,5.397605e-79,6.2
3,93706.0,6463.882999,5.397605e-79,1.0,1.0,86.0,2.0,1.0,NaN,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.74,5.397605e-79,5.2
4,93707.0,15333.776805,2.270707e+04,1.0,1.0,81.0,2.0,2.0,14.0,2.0,...,4.187000e+00,4.140000e-01,5.397605e-79,1.930000e-01,5.397605e-79,8.000000e-03,5.900000e-02,0.32,5.397605e-79,5.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8693,102952.0,13812.955180,2.868593e+04,1.0,1.0,73.0,2.0,2.0,22.0,7.0,...,1.111000e+00,3.400000e-02,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,0.45,5.397605e-79,7.4
8694,102953.0,50632.360804,5.397605e-79,1.0,1.0,73.0,2.0,1.0,2.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.84,5.397605e-79,5.9
8695,102954.0,11081.266527,8.924895e+03,1.0,1.0,76.0,2.0,2.0,2.0,6.0,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,0.81,5.397605e-79,5.2
8696,102955.0,27529.854014,3.629955e+04,1.0,1.0,73.0,2.0,2.0,15.0,2.0,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.11,5.397605e-79,5.5
8697,102956.0,69447.414236,9.275688e+04,1.0,1.0,81.0,2.0,2.0,10.0,5.0,...,1.000000e-02,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,3.70,5.397605e-79,5.4

In [ ]:
merged_df = demographic_df.merge(merged_df, on='SEQN', how='outer')
merged_df = merged_df.drop_duplicates(subset='SEQN')
merged_df

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DR2IP182,DR2IP183,DR2IP184,DR2IP204,DR2IP205,DR2IP225,DR2IP226,LBXHSCRP,LBDHRPLC,LBXGH
0,93703.0,10.0,2.0,2.0,2.0,NaN,5.0,6.0,2.0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,93704.0,10.0,2.0,1.0,2.0,NaN,3.0,3.0,1.0,33.0,...,5.100000e-02,1.100000e-02,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,0.29,5.397605e-79,NaN
2,93705.0,10.0,2.0,2.0,66.0,NaN,4.0,4.0,2.0,NaN,...,4.000000e-03,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,2.72,5.397605e-79,6.2
3,93706.0,10.0,2.0,1.0,18.0,NaN,5.0,6.0,2.0,222.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.74,5.397605e-79,5.2
4,93707.0,10.0,2.0,1.0,13.0,NaN,5.0,7.0,2.0,158.0,...,4.187000e+00,4.140000e-01,5.397605e-79,1.930000e-01,5.397605e-79,8.000000e-03,5.900000e-02,0.32,5.397605e-79,5.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9249,102952.0,10.0,2.0,2.0,70.0,NaN,5.0,6.0,2.0,NaN,...,1.111000e+00,3.400000e-02,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,0.45,5.397605e-79,7.4
9250,102953.0,10.0,2.0,1.0,42.0,NaN,1.0,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.84,5.397605e-79,5.9
9251,102954.0,10.0,2.0,2.0,41.0,NaN,4.0,4.0,1.0,NaN,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,0.81,5.397605e-79,5.2
9252,102955.0,10.0,2.0,2.0,14.0,NaN,4.0,4.0,2.0,175.0,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.11,5.397605e-79,5.5
9253,102956.0,10.0,2.0,1.0,38.0,NaN,3.0,3.0,2.0,NaN,...,1.000000e-02,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,3.70,5.397605e-79,5.4

In [ ]:
# Create a list of all column names
columns_list = list(merged_df.columns)
print(columns_list)

['SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDAGEMN', 'RIDRETH1', 'RIDRETH3', 'RIDEXMON', 'RIDEXAGM', 'DMQMILIZ', 'DMQADFC', 'DMDBORN4', 'DMDCITZN', 'DMDYRSUS', 'DMDEDUC3', 'DMDEDUC2', 'DMDMARTL', 'RIDEXPRG', 'SIALANG', 'SIAPROXY', 'SIAINTRP', 'FIALANG', 'FIAPROXY', 'FIAINTRP', 'MIALANG', 'MIAPROXY', 'MIAINTRP', 'AIALANGA', 'DMDHHSIZ', 'DMDFMSIZ', 'DMDHHSZA', 'DMDHHSZB', 'DMDHHSZE', 'DMDHRGND', 'DMDHRAGZ', 'DMDHREDZ', 'DMDHRMAZ', 'DMDHSEDZ', 'WTINT2YR', 'WTMEC2YR', 'SDMVPSU', 'SDMVSTRA', 'INDHHIN2', 'INDFMIN2', 'INDFMPIR', 'WTDRD1_x', 'WTDR2D_x', 'DR1ILINE', 'DR1DRSTZ', 'DR1EXMER', 'DRABF_x', 'DRDINT_x', 'DR1DBIH', 'DR1DAY', 'DR1LANG', 'DR1CCMNM', 'DR1CCMTX', 'DR1_020', 'DR1_030Z', 'DR1FS', 'DR1_040Z', 'DR1IFDCD', 'DR1IGRMS', 'DR1IKCAL', 'DR1IPROT', 'DR1ICARB', 'DR1ISUGR', 'DR1IFIBE', 'DR1ITFAT', 'DR1ISFAT', 'DR1IMFAT', 'DR1IPFAT', 'DR1ICHOL', 'DR1IATOC', 'DR1IATOA', 'DR1IRET', 'DR1IVARA', 'DR1IACAR', 'DR1IBCAR', 'DR1ICRYP', 'DR1ILYCO', 'DR1ILZ', 'DR1IVB1', 'DR1IVB2', 'DR1INIAC', 'DR1IVB6', 'DR1IFOLA', 'DR1IFA', 'DR1IFF', 'DR1IFDFE', 'DR1ICHL', 'DR1IVB12', 'DR1IB12A', 'DR1IVC', 'DR1IVD', 'DR1IVK', 'DR1ICALC', 'DR1IPHOS', 'DR1IMAGN', 'DR1IIRON', 'DR1IZINC', 'DR1ICOPP', 'DR1ISODI', 'DR1IPOTA', 'DR1ISELE', 'DR1ICAFF', 'DR1ITHEO', 'DR1IALCO', 'DR1IMOIS', 'DR1IS040', 'DR1IS060', 'DR1IS080', 'DR1IS100', 'DR1IS120', 'DR1IS140', 'DR1IS160', 'DR1IS180', 'DR1IM161', 'DR1IM181', 'DR1IM201', 'DR1IM221', 'DR1IP182', 'DR1IP183', 'DR1IP184', 'DR1IP204', 'DR1IP205', 'DR1IP225', 'DR1IP226', 'WTDRD1_y', 'WTDR2D_y', 'DR2ILINE', 'DR2DRSTZ', 'DR2EXMER', 'DRABF_y', 'DRDINT_y', 'DR2DBIH', 'DR2DAY', 'DR2LANG', 'DR2CCMNM', 'DR2CCMTX', 'DR2_020', 'DR2_030Z', 'DR2FS', 'DR2_040Z', 'DR2IFDCD', 'DR2IGRMS', 'DR2IKCAL', 'DR2IPROT', 'DR2ICARB', 'DR2ISUGR', 'DR2IFIBE', 'DR2ITFAT', 'DR2ISFAT', 'DR2IMFAT', 'DR2IPFAT', 'DR2ICHOL', 'DR2IATOC', 'DR2IATOA', 'DR2IRET', 'DR2IVARA', 'DR2IACAR', 'DR2IBCAR', 'DR2ICRYP', 'DR2ILYCO', 'DR2ILZ', 'DR2IVB1', 'DR2IVB2', 'DR2INIAC', 'DR2IVB6', 'DR2IFOLA', 'DR2IFA', 'DR2IFF', 'DR2IFDFE', 'DR2ICHL', 'DR2IVB12', 'DR2IB12A', 'DR2IVC', 'DR2IVD', 'DR2IVK', 'DR2ICALC', 'DR2IPHOS', 'DR2IMAGN', 'DR2IIRON', 'DR2IZINC', 'DR2ICOPP', 'DR2ISODI', 'DR2IPOTA', 'DR2ISELE', 'DR2ICAFF', 'DR2ITHEO', 'DR2IALCO', 'DR2IMOIS', 'DR2IS040', 'DR2IS060', 'DR2IS080', 'DR2IS100', 'DR2IS120', 'DR2IS140', 'DR2IS160', 'DR2IS180', 'DR2IM161', 'DR2IM181', 'DR2IM201', 'DR2IM221', 'DR2IP182', 'DR2IP183', 'DR2IP184', 'DR2IP204', 'DR2IP205', 'DR2IP225', 'DR2IP226', 'LBXHSCRP', 'LBDHRPLC', 'LBXGH']

In [ ]:
# Save merged dataframe to a new file
merged_df.to_csv('merged_health_data.csv', index=False)

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9254 entries, 0 to 9253
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      9254 non-null   float64
 1   SDDSRVYR  9254 non-null   float64
 2   RIDSTATR  9254 non-null   float64
 3   RIAGENDR  9254 non-null   float64
 4   RIDAGEYR  9254 non-null   float64
 5   RIDRETH1  9254 non-null   float64
 6   RIDRETH3  9254 non-null   float64
 7   DMDBORN4  9254 non-null   float64
 8   DMDCITZN  9251 non-null   float64
 9   SIALANG   9254 non-null   float64
 10  SIAPROXY  9254 non-null   float64
 11  SIAINTRP  9254 non-null   float64
 12  DMDHHSIZ  9254 non-null   float64
 13  DMDFMSIZ  9254 non-null   float64
 14  DMDHHSZA  9254 non-null   float64
 15  DMDHHSZB  9254 non-null   float64
 16  DMDHHSZE  9254 non-null   float64
 17  DMDHRGND  9254 non-null   float64
 18  DMDHRAGZ  9254 non-null   float64
 19  WTINT2YR  9254 non-null   float64
 20  WTMEC2YR  9254 non-null   float64
 21  SDMVPSU   9254 non-null   float64
 22  SDMVSTRA  9254 non-null   float64
dtypes: float64(23)
memory usage: 1.6 MB